torch
torchvision
transformers==4.30
sentence-transformers==2.2.2
pinecone-client==2.2.2
datasets==2.14.0
accelerate==0.21.0
einops==0.6.1
langchain==0.0.330
xformers==0.0.20
bitsandbytes==0.41.0
numpy
flask
flask-cors
python-dotenv
fsspec==2023.9.2
gunicorn
openai
bs4
requests
