transformers==4.30
ctransformers==0.2.27
sentence-transformers==2.2.2
pinecone-client==2.2.2
datasets==2.14.0
accelerate==0.21.0
einops==0.6.1
langchain==0.0.330
xformers==0.0.20
bitsandbytes==0.41.0
scipy==1.11.3
numpy==1.26.1
flask==3.0.0
flask-cors==4.0.0
python-dotenv==1.0.0
fsspec==2023.9.2
gunicorn==21.2.0
openai==0.28.1
bs4==0.0.1
requests==2.31.0
jsonlines==4.0.0
googletrans==4.0.0-rc1
langdetect==1.0.9
